.home {
  background-color: gray;
  padding: 15%;

  .input-label {
    color: white;
  }

  .submit-button {
    margin-top: 10px;
  }

  .post-load-message {
    background-color: #ddd;
    margin-top: 20px;
    padding: 10px;
  }
}
